<h2 class="emphasize-header"2>About Isaac</h2>
<p>With a background in the military, public policy, urban planning, entrepreneurship, and civic technology, Isaac has dedicated the majority of this career to building a meaningful relationship with government.</p>
<p>Isaac's vision is to improve the average citzen's relationship with local government by improving the design of our physical, digital, and legal environments.</p>
<br>

<h3>Education</h3>
<p>Public Policy @ Duke University</p>
<br>

<h3>Officer of the US Navy</h3>
<p>I served on active duty for 4 years and continue to serve in the US Navy Reserves today. San Diego and the Navy have been home for the past 9 years.  My wife and I have chosen to raise our family here, despite knowing it's not easy for military families to afford the high cost of living.  I'm very passionate about helping other veterans transition into fulfilling civilian careers, especially in entrepreneurship.</p>
<br>

<h3>
    Tech Entrepreneur
</h3>
<p>I'm currently in a business incubator for military veterans. </p>
<p>My co-founder and I are building political campaign software that provides geospatial analysis and data visualization for campaigns and advocacy groups. Our software helps candidates figure out who to reach out to and how to strategically organize field campaigns.</p>
<br>

<h3>Urban Planner</h3>
<p>The idea for my tech startup came from combining my love for grassroots organizing with my love for urban planning and GIS. I worked for a year in active transportation planning, improving our street design to be safer for pedestrians. I believe elected officials can serve their people better through data-informed decision making in conjunction with robust community input. </p>
<br>

<h3>Civic Technologist</h3>
<p>Digital modernization in local government can significantly improve the delivery of city services. I head a volunteer organization called Open San Diego that improves gov ops through better data, intuitive web design, and reducing needlessly redundant tasks. Our work brings programmers, data scientists, designers, activists, and local officials together to collaborate on projects to improve the city.</p>
<br>