<section class="bg-one">
    <h2>What is City Council?</h2>
    
    <p>It's the legislative body that governs a city.</p>
    <p>San Diego has 9 City Council districts.</p>
    <br>
    <p>Mayor : City Council [LOCAL]</p>
    <p>President : Congress [FEDERAL]</p>
    <br>
    
    <h2>I'm running for District 5:<br>
    Where is D5?</h2>
    
    <p>Black Mountain Ranch, Carmel Mountain Ranch, Miramar Ranch North, Rancho Bernardo, Rancho Encantada, Rancho Pe&#241;asquitos, Sabre Springs, San Pasqual, Scripps Miramar Ranch, Torrey Highlands.</p>
    <br>
    
    <h2>Why am I running?</h2>
    <p>I believe our Relationship with government is fundamentally broken.</p>
    <p>Government is not a vending machine: <br>
    Put money in, get a product.</p>
    
    <blockquote>"I pay taxes, so I deserve a functioning government"</blockquote>
    <p> is an inadequate way of creating good governance.  Effective government requires a strong feedback loop between elected officials and citizens, wheree both sides engage with each other.</p>
    <p>We fix this feedback loop by shaping physical environments, digital environments, and legal environments to be conducive to vibrant civic life.</p>

</section>