<section>
    <h2>What is City Council?</h2>
    
    <p>It's the legislative body that governs a city.</p>
    <p>San Diego has 9 City Council districts.</p>
    <br>
    <p>Mayor : City Council [LOCAL]</p>
    <p>President : Congress [FEDERAL]</p>
    
    <h2>I'm running for District 5:<br>
    Where is D5?</h2>
    
    <p>Black Mountain Ranch, Carmel Mountain Ranch, Miramar Ranch North, Rancho Bernardo, Rancho Encantada, Rancho Pe&#241;asquitos, Sabre Springs, San Pasqual, Scripps Miramar Ranch, Torrey Highlands.</p>
</section>