<section class="bg-one">
    <h2 class="emphasize-header">WHAT CAN YOU DO?</h2>
    
    <h3>Difficulty (Easy)</h3>
    <ul>
        <li>Register to Vote --> Click Here (TODAY)<br>
        Choose Option for Mail-in Ballot</li>
        <li>Donate --> (My staff gotta eat)</li>
    </ul>
    
    <h3>Difficulty (Medium)</h3>
    <ul>
        <li>Submit 3 good ideas for government on my FB page</li>
        <li>Share my Medium Blog with 3 friends</li>
    </ul>
    
    <h3>Difficulty (Hard)</h3>
    <ul>
        <li>Organize a Party (for an issue you care about)<br>
        Invite me.</li>
        <li>Apply for our Civic Engagement Internship</li>
    </ul>
</section>