<h2 class="emphasize-header">
    WHAT CAN YOU DO?</h2>

<h3>Difficulty (Easy)</h3>
<ul>
    <li>Register to Vote --> <a href="https://registertovote.ca.gov/" target="_blank">Click Here (TODAY)</a><br> Choose Option for Mail-in Ballot</li>
    <li>Donate --> <a href="https://secure.actblue.com/donate/isaac-wang-for-city-council-district-5-2020-1" target="_blank">(My staff gotta eat)</a></li>
</ul>

<h3>Difficulty (Medium)</h3>
<ul>
    <li>Submit 3 good ideas for government on my <a href="https://www.facebook.com/IsaacCityCouncil/" target="_blank">Facebook page</a></li>
    <li>Share my <a href="https://medium.com/@Isaac_Wang_For_City_Council" target="_blank">Medium Blog</a> with 3 friends</li>
</ul>

<h3>Difficulty (Hard)</h3>
<ul>
    <li>Organize a Party (for an issue you care about)<br>
        <a href="http://m.me/IsaacCityCouncil">Invite me.</a></li>
    <li>Apply for our <a href="https://airtable.com/shrc5GidTA9eCKE5Z?fbclid=IwAR2jAwrK8OhnB6f1O8f67RhGSaFf5fQ5MLNZ4EhhHcI1337IPuZDUtun_3Q" target="_blank">Civic Engagement Internship</a></li>
</ul>
