<h2 class="emphasize-header">Issues I Care About</h2>

<h3>URBANIZATION STRATEGY:</h3>
<p>How do we design cities that encourage average residents to participate in creating a socially, economically, and environmentally sustainable urban form?</p>
<br>
<h3>DIGITAL MODERNIZATION OF GOVERNMENT:</h3>
<p>How do we create a 21st century government that uses forward-thinking technology to improve community engagement and deliver ersponsive government in accessible, pleasant, and efficient interactions?</p>
<br>
<h3>FIXING MECHANICS OF DEMOCRACY:</h3>
<p>How do we create a legal landscape that supports citizen-centric feedback loops and prevents special interests and corporate money from disproportionately influencing both elections and policy making?</p>
    