<section class="bg-one">
    <h2 class="emphasize-header">WHAT'S THE OPPORTUNITY HERE?</h2>
    <p>30-40% of our government will retire in the next 5-10 years.  Millenials will be the majority in government.  The entire culture will shift to reflect our values and prefreences, and our next elected officials will shape that transition.</p>
    <p>Without a foundation to attract talented + innovative people, we risk recruiting a generation of low performing civil servants who will stay until their retirement.</p>
</section>