<h2 class="emphasize-header">Sign Up</h2>
<p>For restaurant recommendations, dad jokes, and opportunities to protest, enter your email:</p>
<form action="https://tinyletter.com/Isaac_D5" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Isaac_D5', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <input type="text" style="width:300px" name="email" id="tlemail" /> <input type="hidden" value="1" name="embed" /><input type="submit" value="Subscribe" /></p>
</form>