<section class="bg-one">
    <h2>Why am I running?</h2>
    <p>I believe our Relationship with government is fundamentally broken.</p>
    <p>Government is not a vending machine: <br>
    Put money in, get a product.</p>
    
    <blockquote>"I pay taxes, so I deserve a functioning government"</blockquote>
    <p> is an inadequate way of creating good governance.  Effective government requires a strong feedback loop between elected officials and citizens, wheree both sides engage with each other.</p>
    <p>We fix this feedback loop by shaping physical environments, digital environments, and legal environments to be conducive to vibrant civic life.</p>
</section>

<section>
    <h2>URBANIZATION STRATEGY:</h2>
    <p>How do we design cities that encourage average residents to participate in creating a socially, economically, and environmentally sustainable urban form?</p>
</section>

<section>
    <h2>DIGITAL MODERNIZATION OF GOVERNMENT:</h2>
    <p>How do we create a 21st century government that uses forward-thinking technology to improve community engagement and deliver ersponsive government in accessible, pleasant, and efficient interactions?</p>
</section>

<section>
    <h2>FIXING MECHANICS OF DEMOCRACY:</h2>
    <p>How do we create a legal landscape that supports citizen-centric feedback loops and prevents special interests and corporate money from disproportionately influencing both elections and policy making?</p>
</section>