<section class="bg-two">
    <h2>Why am I running?</h2>
    <p>I believe our Relationship with government is fundamentally broken.</p>
    <p>Government is not a vending machine: <br>
    Put money in, get a product.</p>
    
    <p><blockquote>"I pay taxes, so I deserve a functioning government"</blockquote> is an inadequate way of creating good governance.  Effective government requires a strong feedback loop between elected officials and citizens, wheree both sides engage with each other.</p>
    <p>We fix this feedback loop by shaping physical environments, digital environments, and legal environments to be conducive to vibrant civic life.</p>
</section>