.section {
    padding: 0px 50px;
}

#section0 {
    background: url('img/iw_military.jpg') no-repeat center center fixed;
    background-size: cover;
}

#section0 .fp-tableCell {
    vertical-align: top;
}

#section0 h1 {
    display: inline-block;
	background: #{{ site.data.template.color.dark-one }};
    margin-top: 40px;
    padding: 15px 20px;
    opacity: 0.8;
}

#section0 p {
    display: inline-block;
	background: #{{ site.data.template.color.dark-one }};
	margin-top: 20px;
    padding: 10px 15px;
}

#header {
	position: fixed;
	display: block;
	width: 100%;
	background: #{{ site.data.template.color.dark-one }};
	z-index: 9;
	text-align: right;
	padding: 5px 50px 0 0;
}

#header {
	top:0px;
}

#section-last {
    color: #fff;
    padding: 30px 50px;
	background: #{{ site.data.template.color.accent-one }};
}

#menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #{{ site.data.template.color.accent-two }};
}

.emphasize-header {
    font-family: {{ site.data.template.font.header-emphasis }};
    font-size: 3em;
    text-shadow: 4px -4px #{{ site.data.template.color.accent-one }};
}

h1 {
    font-size: 50px;
}

h2 {
    margin-bottom: 50px;
}


h1, h2, h3 {
    color: #{{ site.data.template.color.accent-two }};
    font-family: {{ site.data.template.font.header }};
    font-weight: 500;
}

body {
    color: #{{ site.data.template.color.accent-two }};
    font-family: {{ site.data.template.font.body }};
    font-size: 18px;
}

a {
    font-family: {{ site.data.template.font.body }};
    font-weight: bold;
    color: inherit;
    text-decoration: underline;
}

#donate-link {
    font-size: xx-large;
    font-family: {{ site.data.template.font.header-emphasis }};
    text-shadow: 2px -2px #{{ site.data.template.color.accent-one }};
}

@media (max-width:768px) {
    h1 {
        font-size: 40px;
    }
    
    .emphasize-header {
        font-family: {{ site.data.template.font.header-emphasis }};
        font-size: 2em;
        text-shadow: 4px -4px #{{ site.data.template.color.accent-one }};
    }
}