.bg-one {
    background-color: #{{ site.data.template.color.accent-one }};
    
}

.bg-one h1, .bg-one h2, .bg-one p {
    color: #{{ site.data.template.color.dark-one }};
}


.bg-two {
    background-color: #{{ site.data.template.color.dark-one }};
}

.emphasize-header {
    font-family: 'Permanent Marker';
    font-size: 3em;
}


nav {
    padding: 10px;
    text-align: right;
    font-size: 20px;
}

header, section {
    overflow: auto;
    padding: 30px 50px;
}

h1 {
    font-size: 50px;
}

h1, h2, h3 {
    color: #{{ site.data.template.color.accent-two }};
    font-family: {{ site.data.template.font.header }};
    font-weight: 500;
}

body {
    color: #{{ site.data.template.color.accent-two }};
    font-family: {{ site.data.template.font.body }};
    font-size: 18px;
}

a {
    color: inherit;
}